* {
  margin: 0;
  box-sizing: border-box;
  line-height: 40px;
  text-align: center;
}
input{
  text-align: left;
}
button{
  background-color: blueviolet;
  color: white;
  border: 5px solid white;
  border-radius: 20px;
  cursor: pointer;
}
